*{font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size:15px;
    color:#777;
}
body{background-image:linear-gradient(
    rgba(92,125,123, 0.2),rgba(92,125,123, 0.2)
  ),url(../images/topography.png); 
}
hr {
    border: none;
    height: 2px;   
    background-color: #ddd;
}
h1{
    font-family:'Georgia', Times, Times New Roman, serif; 
    font-size:22px; 
    font-weight: bold;
}
p{line-height: 24px;}
p+p{margin:30px 0px;}
.bg-teal{
    background: #4aaaa5;
    border-color:#337673;
}
.teal{color:#4aaaa5;}

.cardInfo{
    padding:14px;
    position: absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background:rgba(255,255,255,0.9);
    opacity: 0;
    transition: 0.5s;
    border: 2px solid #4aaaa5;
    cursor: default;
}
.card:hover .cardInfo{
    opacity: 1;
    transition: 0.5s;
}

/* OVERWRITE SECTION */
textarea:focus,
textarea.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(74, 170, 165, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(74, 170, 165, 0.6);
  outline: 0 none;
}

.card {
    display: block;
    width: 225px;
    background: #ccc;
    margin: 0 auto;
}

@media (min-width: 1200px){
    .container {
        max-width: 960px;
    }
}


@media (max-width: 768px){
    .navbar{padding:0px; margin-bottom: 0px !important;}
    .navbar h1, .navbar-nav{
        width:100%;
    }
    .nav-item{
        width:33%;
        text-align: center;
    }   
    .card {
        display: block;
        width: 200px;
        background: #ccc;
        margin: 0 auto;
    } 
    .cardInfo{
        font-size:15px;
    }
}
